/* All styles for your Card Components live here */



.cardCont {
    width: 515px;
    border: 1px solid #EBF0F3;
    border-radius: 5px;
    margin-left: 60px;
}

.cardCont img {
    max-width: 515px;
    
}

.cardCont a {
    text-decoration: none;
    color: black;
}

.cardCont h4 {
    font-weight: 200;
}

.cardCont .title {
    font-weight: 600;
}

.cardCont h5 {
    color: #9DA8B2;
    font-size: .8rem;
    font-weight: 300;
}